
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 33);
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(17, 17, 90);
            top: 0;
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
                height: 50px;
                width: 100%;
                position: fixed;
                z-index: 1;
                box-shadow: 0px 1px 2px blueviolet, 
                            0px 2px 4px blueviolet, 
                            0px 4px 8px blueviolet, 
                            0px 8px 16px blueviolet;
              }
        

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 29px;
            

        }
        nav ul li a{
            text-decoration: none;
            color: white;
        }
        nav ul li a:hover{
            color: rgb(100, 100, 200)
        }
        .left {
            font-size: 1.5rem;
        }
        .firstSection > div {
            width: 30%;
            font-size: 2rem;
            justify-content: center;

        }
        .title {
            text-align: center;
            margin-top: 180px; /* Adjust based on the navbar height */
        }
        
        .title h1 {
            font-size: 2rem;
            color: white; /* Adjust color if needed */
        }
        .leftSection div{
            font-size: 2rem;
           
        }
        .rightSection img{
            width: 30%;
        }
        .container {
            text-align: center; /* Centers the image */
            margin-top: 150;   /* Reduce the distance */
            padding-top: 100px;
        }
        
        .profile-image {
            width: 250px;  /* Set the desired width */
            height: auto;  /* Maintain aspect ratio */
            margin-top: 150; /* Reduce the distance if necessary */
            justify-self:space-around;
        }
        #mask {
            filter:drop-shadow(0 0 0.75rem rgb(136, 57, 209));
          }
         .about{
            font-family: 'Poppins', sans-serif;
            justify-content: center;
            text-align: center;
            margin:0 auto;
            display: flex;
            padding-top: 50px;
          }
       
        